body {
  font-family: sans-serif;
  background-color: ghostwhite;
}

#container {
  background-color: green;
  width: 400px;
  height: 400px;
  position: relative;
}

#animacao {
  background-color: rgb(105, 12, 12);
  width: 100px;
  height: 100px;
  position: absolute;
}